{% extends "base.jinja" %}
{% block body %}
<table height="100%" width="100%" align="center" border="0"><tbody><tr><td align="center"><center><img src="/img/noviga-logo.svg" width="280" alt="Noviga" /></center></td></tr></tbody></table>
{% endblock %}
